html{
    font-size: 62.5%;
}

*{
    font-size: 1.6rem;
}

body{
    background-color: burlywood;
}

#search{
    margin: 200px 0 0 0;
    display: flex;
    padding-left: 135px;
    justify-content: center;
}

button{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 0 20px;
    width: 100px;
    background-color: orange;
    color: white;
    border: 2px solid rgb(231, 255, 249);
    border-radius: 10px;
}

input{
    border: 2px black solid;
    border-radius: 10px;
    margin: 0 20px 0 0;
    color: white;
}

#place{
    width: 650px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#place ul{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

#place ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 200px;
    border: 2px black solid;
    border-radius: 5px;
}

#alert{
    color: red;
    text-align: center;
}